
@media screen and (max-width: 768px) {
  
  .full-height {
    display: none; 
  }
  
  .second {
    align-items:flex-start !important;
    justify-content: flex-start !important;;
    padding: 20px;
    background-image: none;
    height: 40vw;
    
  }
  
  .about-me {
    text-align: left;
    font-size: 5vw;
    font-weight: 330;
    line-height: 1.15em;
     background-image: none;
  }
  
  
  
  .underline {
   border-bottom: 2px solid #ffd42d;
  }
  
  
  .portfolio-grid {
  background-color: beige;
  height: 90vh;
  width: 100%;
}

.portfolio-grid-1 {
  background-color: pink;
  height: 90vh;
  width: 100%;
}

.portfolio-grid-2 {
  background-color: yellow;
  height: 90vh;
  width: 100%;
}

.grid {
  display: none;
  
}

.brick-phone {
  margin: 0 20px 65px 20px;

  
}
  
  #phone-grid {
    display: flex;
   
    padding: 0;
  }  

  .navbar {
    display: none;
  }
  
}