.portfolio-grid {
  background-color: beige;
  height: 50vh;
  width: 100%;
}

.portfolio-grid-1 {
  background-color: pink;
  height: 50vh;
  width: 100%;
}

.portfolio-grid-2 {
  background-color: yellow;
  height: 50vh;
  width: 100%;
}

.portfolio-grid-3 {
  background-color: #f5eb1a;
  height: 50vh;
  width: 100%;
}

.portfolio-grid-4 {
  background-color:beige;
  height: 50vh;
  width: 100%;
}

.portfolio-grid-5 {
  background-color: pink;
  height: 50vh;
  width: 100%;
}

/*
.grid {
  display: flex;
  flex-flow: column wrap;
  max-height: 1000px;
  margin-right: 30px;
}



.brick {
  margin: 0 15px 15px 0;
}
  
*/

.description {
  padding-left: 15px;
  font-size: 1.3em;
  font-weight: 300;
    
  }

.container-grid {
  width: 600px;
}